<div>
    <h4 class="ui horizontal divider header">
  <i class="line chart icon"></i>
  Meta 1
</h4>
    <input type="text" id="m1" value="" name="range" />
    <h4 class="ui horizontal divider header">
  <i class="line chart icon"></i>
   Meta 2
</h4>
</div>

<div>

    <input type="text" id="m2" value="" name="range" />
    <h4 class="ui horizontal divider header">
  <i class="line chart icon"></i>
   Meta 3
</h4>
</div>
<div>
    <input type="text" id="m3" value="" name="range" />
    <h4 class="ui horizontal divider header">
  <i class="line chart icon"></i>
   Meta 4
</h4>
</div>
<div>
    <input type="text" id="m4" value="" name="range" />
    <h4 class="ui horizontal divider header">
  <i class="line chart icon"></i>
   Meta 5
</h4>
</div>
<div>
    <input type="text" id="m5" value="" name="range" />
    <h4 class="ui horizontal divider header">
  <i class="line chart icon"></i>
   Meta 6
</h4>
</div>
<div>
    <input type="text" id="m6" value="" name="range" />
    <h4 class="ui horizontal divider header">
  <i class="line chart icon"></i>
   Meta 7
</h4>
</div>
<div>
    <input type="text" id="m7" value="" name="range" />
</div>

<script>
    $("#m1").ionRangeSlider({
        type: "double",
        min: 0,
        max: 100,
        from:10,
        to:99,
        grid: true,
        postfix: " %"
    });
    $("#m2").ionRangeSlider({
        type: "double",
        min: 0,
        max: 100,
        from:10,
        to:99,
        grid: true,
        postfix: " %"
    });
    $("#m3").ionRangeSlider({
        type: "double",
        min: 0,
        max: 100,
        from:10,
        to:99,
        grid: true,
        postfix: " %"
    });
    $("#m4").ionRangeSlider({
        type: "double",
        min: 0,
        max: 100,
        from:10,
        to:99,
        grid: true,
        postfix: " %"
    });
    $("#m5").ionRangeSlider({
        type: "double",
        min: 0,
        max: 100,
        from:10,
        to:99,
        grid: true,
        postfix: " %"
    });
    $("#m6").ionRangeSlider({
        type: "double",
        min: 0,
        max: 100,
        from:10,
        to:99,
        grid: true,
        postfix: " %"
    });
    $("#m7").ionRangeSlider({
        type: "double",
        min: 0,
        max: 100,
        from:10,
        to:99,
        grid: true,
        postfix: " %"
    });
</script>